In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Classification using K-Nearest Neighbor

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1, inplace = True)

In [ ]:
age1 = df[df['Pclass'] == 1]['Age'].median()
age2 = df[df['Pclass'] == 2]['Age'].median()
age3 = df[df['Pclass'] == 3]['Age'].median()
def fill_age(row) :
  if pd.isnull(row['Age']) :
    if row['Pclass'] == 1 :
      return age1
    if row['Pclass'] == 2 :
      return age2
    return age3
  return row['Age']
df['Age'] = df.apply(fill_age, axis = 1)

In [ ]:
def replace_sex(row) :
  if row['Sex'] == 'male' :
    return 1
  if row['Sex'] == 'female' :
    return 0
df['Sex'] = df.apply(replace_sex, axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
x = df.drop('Survived', axis = 1)
y = df['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
classifier = KNeighborsClassifier(n_neighbors = 5)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
print('Percentage of correctly predicted outcomes : ', accuracy_score(y_test, y_pred) * 100)
print('Confusion matrix : ')
print(confusion_matrix(y_test, y_pred))

Percentage of correctly predicted outcomes :  81.61434977578476
Confusion matrix :
[[122  16]
 [ 25  60]]

# Classification using Support Vector Machine

In [ ]:
import pandas as pd
dftest = pd.read_csv('/content/drive/MyDrive/test.csv')
dftrain = pd.read_csv('/content/drive/MyDrive/train.csv')
dftest.info()
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1989 non-null   int64
 1   sex               1989 non-null   int64
 2   bdate             1989 non-null   object
 3   has_photo         1989 non-null   int64
 4   has_mobile        1989 non-null   float64
 5   followers_count   1989 non-null   float64
 6   graduation        1989 non-null   float64
 7   education_form    1989 non-null   object
 8   relation          1989 non-null   float64
 9   education_status  1989 non-null   object
 10  langs             1989 non-null   object
 11  life_main         1989 non-null   object
 12  people_main       1989 non-null   object
 13  city              1989 non-null   object
 14  last_seen         1989 non-null   object
 15  occupation_type   1989 non-null   object
 16  occupation_name   1989 non-null   object
 17  career_start      1989 non-null   object
 18  career_end        1989 non-null   object
dtypes: float64(4), int64(3), object(12)
memory usage: 295.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8193 entries, 0 to 8192
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8193 non-null   int64
 1   sex               8193 non-null   int64
 2   bdate             7025 non-null   object
 3   has_photo         8193 non-null   int64
 4   has_mobile        8193 non-null   float64
 5   followers_count   8193 non-null   float64
 6   graduation        8193 non-null   float64
 7   education_form    7585 non-null   object
 8   relation          8193 non-null   float64
 9   education_status  8193 non-null   object
 10  langs             8193 non-null   object
 11  life_main         8193 non-null   object
 12  people_main       8193 non-null   object
 13  city              7611 non-null   object
 14  last_seen         8193 non-null   object
 15  occupation_type   8000 non-null   object
 16  occupation_name   8000 non-null   object
 17  career_start      8193 non-null   object
 18  career_end        8193 non-null   object
 19  result            8193 non-null   int64
dtypes: float64(4), int64(4), object(12)
memory usage: 1.3+ MB

In [ ]:
dftrain['result'].value_counts()

result
1    4417
0    3776
Name: count, dtype: int64

In [ ]:
id_test = dftest['id']
dftest.drop(['id', 'bdate','city', 'last_seen', 'graduation','relation', 'occupation_name', 'career_start', 'career_end', 'langs', 'last_seen', 'career_start', 'career_end'], axis = 1, inplace = True)
dftrain.drop(['id', 'bdate','city', 'last_seen', 'graduation','relation', 'occupation_name', 'career_start', 'career_end', 'langs', 'last_seen', 'career_start', 'career_end'], axis = 1, inplace = True)

In [ ]:
dftest.info()
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sex               1989 non-null   int64
 1   has_photo         1989 non-null   int64
 2   has_mobile        1989 non-null   float64
 3   followers_count   1989 non-null   float64
 4   education_form    1989 non-null   object
 5   education_status  1989 non-null   object
 6   life_main         1989 non-null   object
 7   people_main       1989 non-null   object
 8   occupation_type   1989 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 140.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8193 entries, 0 to 8192
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sex               8193 non-null   int64
 1   has_photo         8193 non-null   int64
 2   has_mobile        8193 non-null   float64
 3   followers_count   8193 non-null   float64
 4   education_form    7585 non-null   object
 5   education_status  8193 non-null   object
 6   life_main         8193 non-null   object
 7   people_main       8193 non-null   object
 8   occupation_type   8000 non-null   object
 9   result            8193 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 640.2+ KB

In [ ]:
mode_value = dftrain['education_form'].mode()[0]
dftrain['education_form'] = dftrain['education_form'].fillna(mode_value)
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8193 entries, 0 to 8192
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sex               8193 non-null   int64
 1   has_photo         8193 non-null   int64
 2   has_mobile        8193 non-null   float64
 3   followers_count   8193 non-null   float64
 4   education_form    8193 non-null   object
 5   education_status  8193 non-null   object
 6   life_main         8193 non-null   object
 7   people_main       8193 non-null   object
 8   occupation_type   8000 non-null   object
 9   result            8193 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 640.2+ KB

In [ ]:
dftrain['education_form'].value_counts()

education_form
Full-time            6455
Distance Learning    1418
Part-time             320
Name: count, dtype: int64

In [ ]:
edu_map = {
    'Full-time' : 0,
    'Distance Learning' : 1,
    'Part-time' : 2
}
dftest['education_form'] = dftest['education_form'].map(edu_map)
dftrain['education_form'] = dftrain['education_form'].map(edu_map)

In [ ]:
dftest = pd.get_dummies(dftest, columns=['education_status', 'life_main', 'people_main', 'occupation_type'])
dftrain = pd.get_dummies(dftrain, columns=['education_status', 'life_main', 'people_main', 'occupation_type'])

In [ ]:
dftest.info()
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   sex                                       1989 non-null   int64
 1   has_photo                                 1989 non-null   int64
 2   has_mobile                                1989 non-null   float64
 3   followers_count                           1989 non-null   float64
 4   education_form                            1989 non-null   int64
 5   education_status_Alumnus (Bachelor's)     1989 non-null   bool
 6   education_status_Alumnus (Master's)       1989 non-null   bool
 7   education_status_Alumnus (Specialist)     1989 non-null   bool
 8   education_status_Candidate of Sciences    1989 non-null   bool
 9   education_status_PhD                      1989 non-null   bool
 10  education_status_Student (Bachelor's)     1989 non-null   bool
 11  education_status_Student (Master's)       1989 non-null   bool
 12  education_status_Student (Specialist)     1989 non-null   bool
 13  education_status_Undergraduate applicant  1989 non-null   bool
 14  life_main_0                               1989 non-null   bool
 15  life_main_1                               1989 non-null   bool
 16  life_main_2                               1989 non-null   bool
 17  life_main_3                               1989 non-null   bool
 18  life_main_4                               1989 non-null   bool
 19  life_main_5                               1989 non-null   bool
 20  life_main_6                               1989 non-null   bool
 21  life_main_7                               1989 non-null   bool
 22  life_main_8                               1989 non-null   bool
 23  life_main_False                           1989 non-null   bool
 24  people_main_0                             1989 non-null   bool
 25  people_main_1                             1989 non-null   bool
 26  people_main_2                             1989 non-null   bool
 27  people_main_3                             1989 non-null   bool
 28  people_main_4                             1989 non-null   bool
 29  people_main_5                             1989 non-null   bool
 30  people_main_6                             1989 non-null   bool
 31  people_main_False                         1989 non-null   bool
 32  occupation_type_university                1989 non-null   bool
 33  occupation_type_work                      1989 non-null   bool
dtypes: bool(29), float64(2), int64(3)
memory usage: 134.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8193 entries, 0 to 8192
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   sex                                       8193 non-null   int64
 1   has_photo                                 8193 non-null   int64
 2   has_mobile                                8193 non-null   float64
 3   followers_count                           8193 non-null   float64
 4   education_form                            8193 non-null   int64
 5   result                                    8193 non-null   int64
 6   education_status_Alumnus (Bachelor's)     8193 non-null   bool
 7   education_status_Alumnus (Master's)       8193 non-null   bool
 8   education_status_Alumnus (Specialist)     8193 non-null   bool
 9   education_status_Candidate of Sciences    8193 non-null   bool
 10  education_status_PhD                      8193 non-null   bool
 11  education_status_Student (Bachelor's)     8193 non-null   bool
 12  education_status_Student (Master's)       8193 non-null   bool
 13  education_status_Student (Specialist)     8193 non-null   bool
 14  education_status_Undergraduate applicant  8193 non-null   bool
 15  life_main_0                               8193 non-null   bool
 16  life_main_1                               8193 non-null   bool
 17  life_main_2                               8193 non-null   bool
 18  life_main_3                               8193 non-null   bool
 19  life_main_4                               8193 non-null   bool
 20  life_main_5                               8193 non-null   bool
 21  life_main_6                               8193 non-null   bool
 22  life_main_7                               8193 non-null   bool
 23  life_main_8                               8193 non-null   bool
 24  life_main_False                           8193 non-null   bool
 25  people_main_0                             8193 non-null   bool
 26  people_main_1                             8193 non-null   bool
 27  people_main_2                             8193 non-null   bool
 28  people_main_3                             8193 non-null   bool
 29  people_main_4                             8193 non-null   bool
 30  people_main_5                             8193 non-null   bool
 31  people_main_6                             8193 non-null   bool
 32  people_main_False                         8193 non-null   bool
 33  occupation_type_university                8193 non-null   bool
 34  occupation_type_work                      8193 non-null   bool
dtypes: bool(29), float64(2), int64(4)
memory usage: 616.2 KB

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score
X_train = dftrain.drop('result', axis = 1)
y_train = dftrain['result']
X_test = dftest
SC = StandardScaler()
X_train = SC.fit_transform(X_train)
X_test = SC.transform(X_test)

In [ ]:
classifier = svm.SVC()
classifier.fit(X_train, y_train)
Y_pred = classifier.predict(X_test)

In [ ]:
result = pd.DataFrame({'id' : id_test, 'result' : Y_pred})
result.to_csv('submission.csv', index = False)

# Exercise (KNeighbors)

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import matplotlib.pyplot as plt

iris = load_iris()
x = iris.data
y = iris.target

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
classifier = KNeighborsClassifier(n_neighbors = 5)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
print('Percentage of correctly predicted outcomes : ', accuracy_score(y_test, y_pred) * 100)
print('Confusion matrix : ')
print(confusion_matrix(y_test, y_pred))

Percentage of correctly predicted outcomes :  89.47368421052632
Confusion matrix :
[[ 9  0  0]
 [ 0 15  3]
 [ 0  1 10]]

# Exercise (Support Vector Machine)

In [2]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import confusion_matrix, accuracy_score
iris = load_iris()
x = iris.data
y = iris.target

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)
SC = StandardScaler()
x_train = SC.fit_transform(x_train)
x_test = SC.transform(x_test)

In [3]:
classifier = svm.SVC()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [4]:
print('Percentage of correctly predicted outcomes : ', accuracy_score(y_test, y_pred) * 100)
print('Confusion matrix : ')
print(confusion_matrix(y_test, y_pred))

Percentage of correctly predicted outcomes :  94.73684210526315
Confusion matrix :
[[12  0  0]
 [ 0  8  0]
 [ 0  2 16]]